[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pandoc"]
	path = pandoc
	url = https://github.com/cderv/pandoc
	shallow = true
	registered = true
