[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "curl"]
	path = curl
	url = https://github.com/jeroen/curl
	registered = false
[submodule "pandoc"]
	path = pandoc
	url = https://github.com/cderv/pandoc
